@using Invoicer.Models.DbModels
@using Invoicer.Models.ViewModels.InvoiceViewModels
@model InvoiceViewModel
@{
    string GetIdentityNumber(string identity)
    {
        var i = identity;
        if (string.IsNullOrEmpty(i) == false && i.ToLower().StartsWith("bg"))
        {
            i = i.Substring(2);
        }

        return i;
    }

    (string, string) GetAddressLines(List<Address> address)
    {
        var hasTown = address.Count > 1;
        var skip = hasTown ? 1 : 0;
        var town = string.Empty;
        if (hasTown)
        {
            town = address.FirstOrDefault()?.Data;
        }
        return (town, string.Join(",", address.Skip(skip).Select(d => d.Data).ToList()));
    }
}

@using (Html.BeginForm("PDF", "Invoice", new { }, FormMethod.Post, true, new { id = "pdfInvoiceBg" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("html")
    <button id="btnSaveBg" type="button" class="btn btn-primary">Save</button>
}

<div id="invoiceBg" class="container border">
    <h1 class="text-center font-weight-bold">Фактура</h1>
    <div class="holder">
        <h2 class="text-center copy-size">Копие</h2>
        <div class="col-4">
            <div class="row">
                <div class="col-6 text-right">Номер:</div>
                <div class="col-6 text-right font-weight-bold pr-0">@Model.InvoiceNumber.ToString("0000000000")</div>
            </div>
            <div class="row">
                <div class="col-6 text-right">Дата:</div>
                <div class="col-6 text-right font-weight-bold pr-0">@Model.InvoiceDate.ToString("dd.MM.yyyy")</div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-6">
                <div class="row mr-auto border-dark border-right border-left h-100 border-top rounded-top ">
                    <div class="col-3">Получател</div>
                    <div class="col-9">
                        @foreach (var name in @Model.Client.Name)
                        {
                            <div>@name.Data</div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row ml-auto border-dark border-left border-right h-100 border-top rounded-top ">
                    <div class="col-3">Доставчик</div>
                    <div class="col-9">
                        @foreach (var name in @Model.Distributor.Name)
                        {
                            <div>@name.Data</div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row mr-auto border-dark border-right border-left h-100">
                    <div class="col-3">ДДС №</div>
                    <div class="col-9">@Model.Client.Vat</div>
                </div>
            </div>
            <div class="col-6">
                <div class="row ml-auto border-dark border-right border-left h-100">
                    <div class="col-3">ДДС №</div>
                    <div class="col-9">@Model.Distributor.Vat</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row mr-auto border-dark border-right border-left h-100">
                    <div class="col-3">Идент. №</div>
                    <div class="col-9">@GetIdentityNumber(Model.Client.Vat)</div>
                </div>
            </div>
            <div class="col-6">
                <div class="row ml-auto border-dark border-right border-left h-100">
                    <div class="col-3">Идент. №</div>
                    <div class="col-9">@GetIdentityNumber(Model.Distributor.Vat)</div>
                </div>
            </div>
        </div>
        <div class="row">
            @{
                var clientAddress = GetAddressLines(@Model.Client.Address.ToList());
                var distributorAddress = GetAddressLines(@Model.Distributor.Address.ToList());
            }
            <div class="col-6">
                <div class="row mr-auto border-dark border-right border-left h-100">
                    <div class="col-3">Град</div>
                    <div class="col-9">@clientAddress.Item1</div>
                </div>
            </div>
            <div class="col-6">
                <div class="row ml-auto border-dark border-right border-left h-100">
                    <div class="col-3">Град</div>
                    <div class="col-9">@distributorAddress.Item1</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row mr-auto border-dark border-right border-left h-100">
                    <div class="col-3">Адрес</div>
                    <div class="col-9">@clientAddress.Item2</div>
                </div>
            </div>
            <div class="col-6">
                <div class="row ml-auto border-dark border-right border-left h-100">
                    <div class="col-3">Адрес</div>
                    <div class="col-9">@distributorAddress.Item2</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row mr-auto border-dark border-right border-left h-100">
                    <div class="col-3">МОЛ</div>
                    <div class="col-9">
                        @foreach (var person in @Model.Client.Responsibles)
                        {
                            <div>@person.Data</div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row ml-auto border-dark border-right border-left h-100">
                    <div class="col-3">МОЛ</div>
                    <div class="col-9">
                        @foreach (var person in @Model.Distributor.Responsibles)
                        {
                            <div>@person.Data</div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row mr-auto border-dark border-right border-left h-100 border-bottom rounded-bottom">
                    <div class="col-3">Телефон</div>
                    <div class="col-9">@Model.Client.ConsultationNumber</div>
                </div>
            </div>
            <div class="col-6">
                <div class="row ml-auto border-dark border-right border-left h-100 border-bottom rounded-bottom">
                    <div class="col-3">Телефон</div>
                    <div class="col-9">@Model.Distributor.ConsultationNumber</div>
                </div>
            </div>
        </div>
    </div>

    <table class="table mt-4 table-hover border-dark border">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">№</th>
                <th scope="col" class="text-center">Код</th>
                <th scope="col" class="text-center">Наименование на стоката/услугата</th>
                <th scope="col" class="text-center">Мярка</th>
                <th scope="col" class="text-center">Количество</th>
                <th scope="col" class="text-center">Цена</th>
                <th scope="col" class="text-center">Сума</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in @Model.Products)
            {
                <tr class="border-dark border">
                    <td class="text-center border-dark border">@product.ProductID</td>
                    <td class="text-center border-dark border">@product.Code</td>
                    <td class="text-left border-dark border">@product.Description</td>
                    <td class="text-center border-dark border">@product.Measure</td>
                    <td class="text-right border-dark border">@product.Quantity.ToString("F2")</td>
                    <td class="text-right border-dark border">@product.PriceWithDiscout.ToString("F3")</td>
                    <td class="text-right border-dark border">@product.TotalAmount.ToString("F2")</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-5 offset-7 font-weight-bold">
        @{
            var totalAmount = @Model.Products.Sum(p => p.TotalAmount);
            var vatAmount = totalAmount * Model.Vat / 100;
            var allAmount = totalAmount + vatAmount;
            <div class="row">
                <div class="col-6 text-right">Данъчна основа:</div>
                <div class="col-6 text-right">@totalAmount.ToString("F2")</div>
            </div>
            <div class="row">
                <div class="col-6 text-right">ДДС @Model.Vat.ToString("F2")%:</div>
                <div class="col-6 text-right">@vatAmount.ToString("F2")</div>
            </div>
            <div class="row">
                <div class="col-6 text-right">Сума за плащане:</div>
                <div class="col-6 text-right">@allAmount.ToString("F2")</div>
            </div>
        }
    </div>
    <div class="row mt-4">
        <div class="col-1 font-weight-bold">Словом:</div>
        <div class="col-11 alert-danger">TODO</div>
    </div>
    <div class="container mt-2 border border-dark">

        @{
            var paymentDetails = @Model.Distributor.PaymentDetails.First();
        }
        <div class="row">
            <div class="col-7">
                <div class="row">
                    <div class="col-5 text-left">Дата на данъчно събитие:</div>
                    <div class="col-7 text-left">@Model.InvoiceDate.ToString("dd.MM.yyyy")</div>
                </div>
            </div>
            <div class="col-5 border-dark border-left">
                <div class="row">
                    <div class="col-4 text-left">Плащане:</div>
                    <div class="col-8 text-left">@paymentDetails.PaymentType</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <div class="row">
                    <div class="col-5 text-left">Основание на сделката:</div>
                    <div class="col-7 text-left"></div>
                </div>
            </div>
            <div class="col-5 border-dark border-left">
                <div class="row">
                    <div class="col-4 text-left">IBAN:</div>
                    <div class="col-8 text-left">@paymentDetails.IBAN</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <div class="row">
                    <div class="col-5 text-left">Описание на сделката:</div>
                    <div class="col-7 text-left"></div>
                </div>
            </div>
            <div class="col-5 border-dark border-left">
                <div class="row">
                    <div class="col-4 text-left">Банка:</div>
                    <div class="col-8 pr-1 text-left">@paymentDetails.BankName</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <div class="row">
                    <div class="col-5 text-left">Място на сделката:</div>
                    <div class="col-7 text-left"></div>
                </div>
            </div>
            <div class="col-5 border-dark border-left">
                <div class="row">
                    <div class="col-4 text-left">Банков код:</div>
                    <div class="col-8 text-left">@paymentDetails.BankCode</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-7">
            <div class="row">
                <div class="col-2 text-left">Получил:</div>
                <div class="col-10 text-left">
                    @foreach (var person in @Model.Client.Responsibles)
                    {
                        <div>@person.Data</div>
                    }
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-4 text-left">Съставил:</div>
                <div class="col-8 text-left">
                    @foreach (var person in @Model.Distributor.Responsibles)
                    {
                        <div>@person.Data</div>
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="mt-4">
        <small>
            Съгласно чл.6, ал. 1 от Закона за счетоводството, чл 114 от ЗДДС и чл. 78 от ППЗДДС печатът и подписът не са задължителни реквизити във фактурата.
        </small>
    </div>
</div>